{% extends "base.html" %}
{% block title %}
    {% with books=object.books %}
    <span class="title-books">
        {% for book in books %}
        <a class='' href="{% url 'book' book.id %}">{{ book }}</a>
        {% endfor %}
    </span>
    <span class="title-name">
        {{ object.name }}
    </span>
    {% endwith %}

{% endblock title %}

{% block nav_items %}

    <li id='theme_app'><a href="javascript:;">
        <a class='waves-effect wave-light btn' @click='invertColor' href="javascript:;">
            <i class="material-icons">invert_colors</i>
        </a>
    </a></li>
    <li><a href="javascript:;">
        <a class='waves-effect wave-light btn' href="{% url 'book-list' %}">Library</a>
    </a></li>

{% endblock nav_items %}
