{% extends "markdown/book_detail.html" %}
{% load static %}

{% block body_class%}book-editor page{% endblock %}

{% block content %}
    {% include "markdown/page_interface.html" with child_list="markdown/book_child_nest_placeholder.html" markdown=object.index_page.text_render %}

    <div class="mdd">
      <script>
        var booklistData=  {
            id: {{ object.pk }}
            , name: "{{ object.name }}"
            , count: {{ object.pages.count }}
            , children: [{% for page in object.pages.all %}{% with object=page %}
                        {% include "markdown/book_child_nest_js_item.html" %}
                    {% endwith %}{% endfor %}]
        }

    </script>
    </div>
{% endblock content %}


{% block js %}
{{ block.super }}
<script>
    var PAGE = {
        id: (function(){ return {{ object.index_page.pk }}; })()
        , bookId: {{object.pk}}
        , indexContentIds:(function(){ return {{ object.index_page.contents_pk_list }}; })()
        , contentIds: [{% for content in object.contents.all %}{{ content.pk}}, {% endfor %}]
        , initValue: `{% for content in object.contents.all %}{{ content.text_content|safe }}\n\n{% endfor %}`
    }
</script>

{% include 'markdown/modal.html' %}
<link type="text/css" rel="stylesheet" href="{% static '/css/markdown/markdown-theme.css' %}"  media="screen,projection"/>

<!--  vendors and core components -->
<script src='{% static "js/ace/src/ace.js" %}'></script>
<script src='{% static "js/lib/IT.js" %}'></script>
<script src='{% static "js/lib/workerRPC.js" %}'></script>
<script src='{% static "js/vendor/gravel.js" %}'></script>

<!--  page default applications.  -->
<script src='{% static "js/views/base.js" %}'></script>
<script src='{% static "js/views/app/menu-app.js" %}'></script>


<!-- markdown application  -->
<script src='{% static "js/lib/editor.js" %}'></script>
<script src='{% static "js/mdwriter/storage.js" %}'></script>
<script src='{% static "js/mdwriter/commands.js" %}'></script>

<!--  view application and connectivity -->
<script src='{% static "js/views/modal.js" %}'></script>
<script src='{% static "js/views/sub/attachment-app.js" %}'></script>
<script src='{% static "js/views/sub/thread-logger.js" %}'></script>
<script src='{% static "js/views/sub/lines-app.js" %}'></script>

<script src='{% static "js/views/app/data-connection.js" %}'></script>
<script src='{% static "js/views/app/editor-app.js" %}'></script>
<script src='{% static "js/views/app/render-app.js" %}'></script>
<script src='{% static "js/views/app/book-write.js" %}'></script>

{% endblock js %}
