<div class="book-page-list">
    <div class="toolspace">

    </div>
    {% verbatim book_page %}

        <ul class="collection active-child-list">
            <li :class="['collection-item', {active: item.object == pageId, loading: item.object == loading}]" v-for='item in pages'>
                <div class="indicator-container">
                    <div :class="['indicator', {active: item.object == pageId, loading: item.object == loading}]"></div>
                </div>
                <a :href="item.url" @click='select_page(item.object, $event)' :key="item.object">{{item.name}}</a>
            </li>
            <li :class="['collection-item new-page-item']">
                <div class="indicator-container">
                    <div :class="['indicator input']"></div>
                </div>
                <div class="input-field inline">
                    <input type="text"
                        @keyup.enter='enterKey($event.target.value)'
                        placeholder='Add Page'
                        :value='newPageValue'
                        class='new-page-input'>
                </div>
            </li>
        </ul>
    {% endverbatim book_page %}
</div>
