{% load static %}

  <!-- <script src='{% static "js/ace/src/ace.js" %}'></script> -->
  <script src='{% static "js/IT.js" %}'></script>
  <script src='{% static "js/workerRPC.js" %}'></script>
  <!-- <script src='{% static "js/markdown-editor.js" %}'></script> -->
  <!-- <script src='{% static "js/markdown-commands.js" %}'></script> -->
  <script src='{% static "js/views/page-detail.js" %}'></script>
  <link type="text/css" rel="stylesheet" href="{% static '/css/markdown/markdown-theme.css' %}"  media="screen,projection"/>
