    {% extends "markdown/base.html" %}
{% load static %}
{% block title %}
    {% with books=object.books %}
    <a class='waves-effect wave-light btn' href="{% url 'book-list' %}">Books</a>
    <span class="title-books">
        {% for book in books %}
        <a class='' href="{% url 'book' book.id %}">{{ book }}</a>
        {% endfor %}
    </span>
    <span class="title-name">
        {{ object.name }}
    </span>
    {% endwith %}

{% endblock title %}


{% block nav_items %}
    <li><a href="#meta" class='toggle-meta'>Meta</a></li>
{% endblock nav_items %}


{% block content %}

    {% with books=object.books %}
    <section class="book-list">
        <h3>Books</h3>
        <ul class="collection">
            {% for book in books %}
            <li class="collection-item">
                <a class='waves-effect wave-light btn'
                    href="{% url 'book' book.id %}">{{ book }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>

    <div class="flex-inline">

        <section class="child-list">
            <h3>Children</h3>
            <!-- Accepts object  -->
            {% include "markdown/child_nest.html" %}
        </section>
        {% verbatim %}
        <section class="editor-container" :style='[styles]' id='markdown_app'>
            <div class="tools">
                <ul class="collection commands">
                    <li :class="['collection-item command', command.name]" v-for='command in commands' v-if='command.icon != false'>
                        <a href="javascript:;"><i class="material-icons">{{ command.icon }}</i></a>
                    </li>
                </ul>
            </div>
            <div id="markdown_editor">
                <textarea
                    v-bind:class='styles'
                    id="markdown-input"></textarea>
            </div>
        </section>
        {% endverbatim %}

        <section class="content container">
            <div id='markdown_content'>{{ object.render|safe }}</div>
        </section>

    </div>

    <section id='meta' class="hidden page-info">
        <h3>Meta Data</h3>
        <ul class='collection'>
            <li class='collection-item name'>
                <span class="label">name</span>
                <span class="value">{{ object.name }}</span>
            </li>

            <li class='collection-item created'>
                <span class="label">created</span>
                <span class="value">{{ object.created }}</span>
            </li>

            <li class='collection-item root'>
                <span class="label">root books</span>
                {% if object.root_page %}
                <span class="value">
                    <a class='waves-effect wave-light btn'
                        href="{% url 'page' object.root_page.pk %}">{{ object.root_page }}</a>
                </span>
                {% else %}
                    {% for book in books %}
                    <a class='waves-effect wave-light btn'
                        href="{% url 'book' book.id %}">{{ book }}</a>
                    {% endfor %}
                {% endif %}
            </li>
            <li class='collection-item parent'>
                <span class="label">parent page</span>
                <span class="value">
                    {% if object.child_of %}
                    <a class='waves-effect wave-light btn'
                        href="{% url 'page' object.child_of.pk %}">{{ object.child_of }}</a>
                    {% else %}
                    No parent page
                    {% endif %}
                </span>
            </li>
             <li class='collection-item breadcrumbs'>
                <span class="label">Page Crumbs</span>
                {% include 'markdown/breadcrumbs.html' %}
            </li>
            <li class='collection-item'>
                <span class="label">Sibling Pages</span>
                <span class="value">
                    {% for page in object.siblings %}
                        <a class='waves-effect wave-light btn'
                            href="{% url 'page' page.pk %}">{{ page }}</a>
                    {% endfor %}
                </span>
            </li>
            <li class='collection-item'>
                <span class="label">Next Page</span>
                <span class="value">
                    {% with sibling_next=object.sibling_next %}
                        {% if sibling_next %}
                        <a class='waves-effect wave-light btn'
                            href="{% url 'page' sibling_next.pk %}">{{ sibling_next }}</a>
                        {% endif %}
                    {% endwith %}
                </span>
            </li>

            <li class='collection-item'>
                <span class="label">Previous Page</span>
                <span class="value">
                    {% with sibling_before=object.sibling_before %}
                        {% if sibling_before %}
                        <a class='waves-effect wave-light btn'
                            href="{% url 'page' sibling_before.pk %}">{{ sibling_before }}</a>
                        {% endif %}
                    {% endwith %}
                </span>
            </li>
        </ul>
    </section>
    {% endwith %}

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src='{% static "js/ace/src/ace.js" %}'></script>
  <script src='{% static "js/IT.js" %}'></script>
  <script src='{% static "js/workerRPC.js" %}'></script>
  <script src='{% static "js/markdown-editor.js" %}'></script>
  <script src='{% static "js/views/page-detail.js" %}'></script>
  <link type="text/css" rel="stylesheet" href="{% static '/css/markdown/markdown-theme.css' %}"  media="screen,projection"/>
{% endblock js %}
