{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Title</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/markdown/gravel.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'js/vendor/tether/css/tether.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'js/vendor/tether/css/tether-theme-basic.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'js/vendor/highlight/styles/docco.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class='{% block body_class%}{% endblock %}'>
{% block nav %}
<nav>
    <div class="nav-wrapper blue-grey darken-2">
        <a href="#" class="brand-logo">{% block title %}Writer{% endblock title %}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% block nav_items %}
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
            {% endblock nav_items %}

        </ul>
    </div>
</nav>
{% endblock nav %}

{% block content %}

{% endblock content %}
{% block js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src='{% static "js/vendor/materialize.js" %}'></script>
    <script src='{% static "js/vendor/vue.js" %}'></script>
    <script src='{% static "js/vendor/tether/js/tether.js" %}'></script>
{% endblock js %}
</body>
</html>
