ul.collection.horizonal-nav {
    /* display: flex; */
    overflow: visible;
    flex-wrap: nowrap;
}

ul.collection.horizonal-nav li ul {
    /* display: none; */
    /* position: absolute; */
    overflow: visible;
    margin: 0;
    /* left: 97%; */
    /* width: 100%; */
    /* max-height: 0em; */
    overflow: hidden;
    transition: max-height 1s ease;
    transition-delay: 0s;
}

ul.collection.horizonal-nav li {
    /* border: solid 2px; */
    padding: 0;
    position: relative;
}

ul.collection.horizonal-nav li ul ul {
    left: 1em;
    top: 100%;
    margin: 0;
    /* text-align: left; */
}

ul.collection.horizonal-nav>li {
    /* width: 100%; */
    text-align: center;
}

ul.collection.hover-nav li:hover>ul {
    /* display: block; */
    /* max-height: 26em; */
    /* overflow: visible; */
    transition: max-height .3s ease;
    transition-delay: 1s;
}

ul.collection.horizonal-nav li li {
    text-align: left;
    padding: 0 0rem;
}

ul.collection.horizonal-nav>li>a {
    padding: 1em 0;
    display: inline-block;
}

ul.collection.horizonal-nav>li li a {
    padding: 1em;
    width: 100%;
}

ul.collection.horizonal-nav a+ul {
}

ul.collection.horizonal-nav>li a {
    color: #999;
}

ul.collection.horizonal-nav li[data-child-count="0"] a {
    /* color: red; */
    font-weight: normal;
}

ul.collection.horizonal-nav li[data-child-count] a:before {
    content: " ";
    border: solid 1px;
    background: transparent;
    width: 0;
    height: 0;
    border-style: solid;
    /* border-width: 0.5rem 0.5rem 0 0.5rem; */
    border-color: #0e0e0e transparent transparent transparent;
    margin: 0 .5em;
    border-top-color: inherit;
}


ul.collection.horizonal-nav li[data-child-count="0"] a:before {
    content: "";
    border: none;
}

ul.collection.horizonal-nav li a {
    display: flex;
    align-items: center;
}

ul.collection.heavy-nav li:hover ul {
    display: block;
    border: none;
    border-left: solid 2px #DDD;
}

ul.collection.heavy-nav li {
    border-left: solid 2px #DDD;
}

ul.collection.horizonal-nav li a:hover {
    background: #455a64;
    color: white;
    transition: all .3s ease;
}

ul.collection.trace-nav ul li:hover {
    background: #DDD;
}

ul.collection.light-trace li:hover a+ul li {
    background: #ececec;
}

li.collection-item {}

ul.collection.light-trace li:hover a+ul:hover li:hover {
    background: aliceblue;
}

ul.collection.horizonal-nav.overlay {
    /* position: absolute; */
    /* width: 100%; */
    /* background: transparent; */
    /* height: 4em; */
}

ul.collection.horizonal-nav.overlay + * {
    clear: both;
    border: solid;
    margin-top: 5em;
}

ul.collection.overlay li:hover a+ul:hover li:hover {
    background: #d8edf5;
}

ul.collection.overlay ul {
    border: none;
}

ul.breadcrumbs.breadcrumb-list {
    display: flex;
}

.breadcrumb-list-item .btn {
    box-shadow: none;
    background: transparent !important;
    color: inherit;
}

section.book-list h3 {
    display: none;
}

section.book-list ul {
    display: flex;
}

li.collection-item.root {
    /* display: none; */
}

.page-info a.btn {
    box-shadow: none;
    background: #4db8ea;
}

.page-info span.label {
    font-size: 1.1em;
    min-width: 10em;
    /* vertical-align: middle; */
    /* align-content: center; */
    text-transform: uppercase;
}

.page-info li.collection-item {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #EEE;
}

.page-info li.collection-item a {
    margin-right: 1em;
}

ul.collection.book-list li {
    width: 22.5%;
    min-height: 200px;
    background: #DDD;
    margin: 2em;
    display: flex;
    padding: 0;
    /* max-width: 400px; */
}

ul.collection.book-list {
    display: flex;
    flex-wrap: wrap;
}

.books.book-list .collection-item a {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background: #455a64;
    padding: 1em .2em;
    color: white;
    font-size: 1.2em;
}

section.child-list h3 {
    display: none;
}

.child-list>ul {
    border: solid;
}

section.child-list {
    display: inline-block;
    width: 18%;
}

section.page-info {
    /* position: absolute; */
    /* border: solid; */
    /* background: rgba(255, 255, 255, 0.91); */
    /* z-index: 2; */
}

section.content.container {
    /* display: flex; */
    /* vertical-align: top; */
    background: #f8f8f8;
    /* border: solid; */
    /* padding: 4em 3em; */
    /* padding: 0; */
    /* max-height: 860px; */
    /* border: solid 1px; */
    overflow: auto;
    flex-direction: column;
}

.flex-inline {
    display: flex;
    /* max-height: 100%; */
    /* flex-direction: row; */
    /* position: absolute; */
    /* overflow: auto; */
    /* border: solid 3px #ff0000; */
    /* transition: min-height .35s ease; */
    height: 100%;
    /* outline: solid 2px #2ac15b; */
    width: 100%;
    position: relative;
}

section.child-list .collection-item {
    margin: 0;
    padding-right: 0;
    border: none;
    padding: 0em 0 0 0em;
    display: flex;
    align-items: center;
}

section.child-list ul {
    padding: 0 0 0 1rem;
    border: none;
    /* background: #EEE; */
    /* margin: 0em 0 0.6em 0em; */
    /* border-left: solid 2px #c3c3c3; */
    width: 100%;
}

.child-list a span.index {
    background: #DDD;
    padding: 1em;
}

.child-list a {
    border-bottom: solid 2px #d4d4d4;
    display: block;
    background: #EEE;
}

.child-list a>span {
    display: inline-block;
}

.child-list a:hover {
    background: #d6d6d6;
    color: #000;
    border-bottom: solid 2px #999;
}

#markdown-editor {
    width: 50%;
    /* display: flex; */
}

textarea#markdown-input {
    min-width: 20em;
    min-height: 15em;
    /* display: inline-block; */
    padding: 0.2em 0.5rem;
}

nav .nav-wrapper a.btn {
    margin: 0.6rem;
    box-shadow: none;
}

div#markdown_editor {
    width: 100%;
    border: solid 1px;
    min-width: 20em;
    min-height: 20em;
    height: 100%;
    /* max-width: 500px; */
    border-color: transparent;
}

section.editor-container {
    width: 60%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#markdown_content td {
    padding: 0.6em 5px;
}

.form form {
    margin: 2rem 20%;
}

.book-detail li.collection-item {
    padding: 1em;
    margin: 1em;
    background: #FFF;
}

.book-detail {
    background: #DDD;
}

.book-detail .collection-item span.name {
    margin: 0.5rem 1em;
    font-size: 1.2rem;
}

section.page-info {
    position: absolute;
    top: 4rem;
    background: #fff;
    z-index: 1;
    right: 0;
    padding: 1rem 3em 2em;
    border: solid 5px #455a64;
}

section#meta.hidden {
    display: none;
}

body.page {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    /* border: solid 4px red; */
    display: flex;
    flex-direction: column;
}

div.render-page {
    /* height: 100%; */
}

.editor-container ul.collection {
    display: flex;
    margin: 0;
    border: none;
}

.tools .collection-item a {
    padding: 1rem;
    display: flex;
    height: 100%;
    line-height: initial;
    color: inherit;
    background: initial;
}

.editor-container .tools {
    color: #5f5f5f;
    min-height: 3.2em;
    display: flex;
}

.editor-container .collection li.collection-item {
    padding: 0;
    color: inherit;
    border-bottom: none;
}

.commands .command a:hover {
    color: #455a64;
    /* background: #f3f3f3; */
}

.book-editor .child-list a {
    background: inherit;
    border-bottom-color: white;
    font-size: 1.1rem;
    display: inline-block;
    width: 98%;
    border-bottom: 0;
}

.book-editor .child-list .collection-item a span.index {
    background: inherit;
    padding: 0.8rem 1rem;
}

.init-markdown {
    display: none;
}

.book-page-list .active-child-list a {
    /* background: #EEE; */
    padding: 0.5em 0.2em;
    color: inherit;
    align-self: center;
}

ul.collection.active-child-list {
    margin-top: 3rem;
}

.active-child-list li.collection-item.active a {
    background: transparent;
    color: #455a64;
}

.indicator {
    background: #455a64;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
}

.collection .collection-item.active {
    background: #f3f3f3;
}

.indicator.active {
    background: #14c714;
}

.indicator.loading {
    background: #FF9800;
}

.child-list ul.collection.active-child-list {
    background: initial;
    margin: 0;
    padding: 0 0 4em;
    overflow: auto;
    height: 100%;
}

.scrollable {
    min-height: 92%;
    overflow: hidden;
    padding: 0em 3em 3em;
    display: flex;
    /* height: 100%; */
    width: 100%;
}

body>nav {
    z-index: 1;
}

nav a.brand-logo {
    font-size: 1.7em;
    margin: 0 0.7em;
}

.new-page-item .input-field.inline {
    margin: 0 0px;
    width: 100%;
}

.new-page-item input.new-page-input {
    margin: 0;
    padding: 0;
    border-bottom: none;
    color: inherit;
    font-size: 1.1em;
}

.indicator.input {
    background: rgb(188, 195, 199);
}

.scrollable {
    /* margin: 4em 0; */
}

.book-editor .render-page {
    box-shadow: 0 0px 4px 0px rgba(69, 90, 100, 0.57);
    min-height: 100%;
    margin-top: 2px;
    padding: 0;
}

.toolspace {
    background: inherit;
    height: 3.5rem;
}

.book-page-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.active-child-list li.collection-item .indicator-container {
    /* border: solid; */
    /* background: #c5c5c5; */
    display: flex;
    height: 2.5rem;
    width: 3.8rem;
    /* margin: 1px; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.new-page-item .indicator-container {
    /* width: 3.2rem !important; */
}

.indicator-container:hover {
    background: #f3f3f3;
}

.book-page-list .active-child-list a:hover {
    background: #EEE;
    color: #000;
}

.tools .collection-item a.disabled {
    color: #e0e0e0;
}

ul.collection.interface-tools {
    margin-left: auto;
}

span.new-page-item {
    display: flex;
    width: 100%;
}

.flex-vertical {
    flex-direction: column;
}

.active-child-list .flex-vertical {
    width: 100%;
}

li.new-page-item.hidden {
    display: none;
}

#markdown_content pre {
    background: rgb(243, 243, 243);
    padding: 0.5em;
    border-radius: 4px;
    color: #3c3c3c;
}

#markdown_content pre code {
    color: inherit;
}

.edit-icon {
    /* float: right; */
    position: absolute;
    right: 0;
    /* border: solid 1px; */
    height: 100%;
    display: flex;
    align-items: center;
    color: inherit;
    opacity: 0;
    flex-direction: column;
}

.book-page-list .edit-icon a {color: #455a64;background: transparent;padding: 0.5em 0.5em;}

.book-page-list .collection-item>.flex-inline:hover
 .edit-icon {
    opacity: .2;
}

.book-page-list .collection-item>.flex-inline .edit-icon:hover {
    opacity: 1;
}

.edit-page.tether-element {
    display: block;
    background: #dedede;
}

.edit-page {
    /* padding: 1rem 0; */
    min-width: 350px;
    /* height: 200px; */
    z-index: 999;
    box-shadow: 0 1px 1px rgba(101, 101, 101, 0.45);
    background: #ffffff;
}

.edit-page h3 {
    margin: 0;
}

.tether-modal {
    /* background: #efefef; */
    /* border: solid 2px; */
    z-index: 4;
}

.tether-templates {
    display: none;
}

.tether-modal .div.close-button {
    position: absolute;
    right: 0;
    width: 3em;
    height: 3em;
    text-align: center;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #333;
}

.tether-modal .close-button a {
    padding: 1em;
    cursor: pointer;
    color: inherit;
}

.edit-page.fadeOut,.edit-page.fade {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.edit-page form.col.s12 {
    margin: 1.5rem 0rem 1.5em;
}

.edit-page .buttons {
    /* margin: 0; */
    display: flex;
}

.tether-modal .buttons .btn {
    box-shadow: none;
}

.tether-modal .buttons .btn.delete-btn {
    margin-left: auto;
}

.tether-modal .div.close-button:hover {
    background: #eee;
}

.dev .init-markdown {
    display: initial;
}

.writer-2 .init-markdown {
    display: block;
}

.markdown-editor {
    border: solid 1px #CCC;
    margin: 1em;
}

.templates {
    display: none;
}

.gravel-body.content h2.gravel-title {
    display: none;
}

.standard-modal-container h2.gravel-title.title {
    margin-top: 0;
}

body .gravel h2.gravel-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

.gravel .gravel-buttons .gravel-button:last-child {
    margin-right: 0;
}

.gravel .gravel-buttons {
    border-top: solid 1px #F0F0F0;
    padding: 10px 0px 0px 0px;
    margin: 15px 0px 5px 0px;
    display: block;
}


body .gravel.gravel-container {
    padding-top: 0.5em;
    border: none;
    transition: top 1s ease;
    /* background: inherit; */
    /* display: flex; */
    /* flex-direction: column; */
}

.gravel.standard-modal-container {
    /* padding: 0; */
}
.gravel.gravel-container {
    box-shadow: none;
}


div#markdown_content:focus {
    outline: solid 2px;
    /* z-index: inherit; */
}

.content-options {
    padding: 0 3em;
    display: flex;
    flex-direction: row-reverse;
    color: rgb(189, 196, 199);
    align-items: center;
}

.content-options a {
    padding: 1em 0em;
    display: flex;
    color: inherit;
}

.content-options a:hover {
    color: #455a64;
}

.active-child-list a.index-page {
    display: block;
    padding: 0.5em 0em 0.5em 0.6em;
    display: flex;
    align-items: center;
}

.index-page span.home-text {
    padding: 0 0.8em;
}

.attachment-modal-container .content {
    min-width: 400px;
    border: solid 1px;
}

.attachment-modal-container .content {}

.attachment-modal-container {
    min-width: 400px;
    border: solid 23px red;
}

.attachment-modal {
    min-width: 800px;
}

.attachment-modal .modal-content {
    max-height: 600px;
    /* border: solid; */
    overflow: auto;
}

.active-child-list .page-entity {
    width: 100%;
}

.active-child-list ul.page-blocks {
    padding: 0;
}

.ace_gutter-cell {
    font-size: 12px;
    /* vertical-align: bottom; */
    /* display: flex; */
    position: relative;
    /* align-items: center; */
    padding: .3em;
}

span.ace_fold-widget.ace_start {
    /* background: red; */
    width: 1.6em;
    position: absolute;
    top: 0;
}

.ace_layer.ace_gutter-layer.ace_folding-enabled {}

.ace_editor .ace-chrome .ace_gutter {
    background: white;
}

#markdown_app .ace_gutter {
    background: rgba(243, 243, 243, 0.38);
}

.thread-log {
    /* position: absolute; */
    background: #eee;
    z-index: 10;
    /* border: solid 2px #CCC; */
    /* min-width: 600px; */
    bottom: 0;
    margin-bottom: 5em;
    padding: 1em;
    max-height: 60%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.thread-log ul.messages {
    /* border: solid; */
    background: white;
    height: 93%;
    overflow: auto;
    margin: 0;
}

.log-container {
    display: flex;
    flex-direction: column;
}

.thread-log h4.header {
    margin: 0;
}

.log-container .messages {
    display: flex;
    flex-direction: column;
}

.log-container.counterMultiplier {
    height: 600px;
}

.counterMultiplier ul.messages {
    margin-top: 0;
}

ul.loglets {
    margin-bottom: 0;
}

li.loglet.max-clear {
    background: white;
    color: #988b23;
    font-family: monospace;
    padding: 0.2em 0.3em;
    font-size: 0.9em;
}

.log-container h4.header {
    font-size: 1.2em;
    text-transform: uppercase;
}

.thread-removeLine {
    background: rgb(249, 207, 207);
}

.thread-insertLine {
    background: rgb(215, 235, 215);
}

.message-placer {
    display: flex;
    /* border-bottom: solid 1px white; */
    align-items: center;
    padding: 0.2em 0;
    font-size: 0.9em;
}

.message-placer>* {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    margin: 0;
}

ul.messages-header {
    margin: 0;
    background: white;
}

.thread-error {
    background: rgb(255, 209, 209);
    color: #820d0d;
}

.messages li.message {
}

.thread-undefined {
    background: rgb(241, 241, 183);
}

.message-placer.thread-updateBlockText {visibility: hidden;height: 1px;}

.message-placer.thread-spliceBlockText {
    visibility: hidden;
    height: 1px;
}

#line-view ul.collection.lines {
    margin-left: 0;
    font-family: monospace;
    font-size: 0.8em;
    border: none;
}

li.collection-item.line {
    padding: 0em 0em;
}

#line-view h4 {
    .render-page
    margin: 0;
    margin: 0;
    font-size: 1.2em;
}

div#markdown_content {
    padding: 1em 3em;
}

div#line-view {
    border-bottom: solid 1px #b5b5b5;
    padding: 2rem 3em 0.3rem;
    /* box-shadow: 0px 4px 3px -3px rgba(69, 90, 100, 0.68); */
    max-height: 50%;
    overflow: auto;
}

.line span.index {
    background: #d6d6d6;
    color: #000;
    padding: 2px 0.4em;
    border-radius: 2px;
    font-size: 12px;
}

.message-placer span.label {
    width: 35%;
    background: rgba(2, 2, 2, 0.11);
    color: #455a64;
    padding: 1px 0.3em;
}

.tools .save.collection-item a.pulse {
    color: #43c2ff;
    transition: color 0.3s cubic-bezier(0.21, 1.52, 0.47, 1.51);
    /* background: white; */
    box-shadow: none;
    /* padding: 0; */
    line-height: initial;
    /* width: initial; */
    /* height: initial; */
}

.pulse i.material-icons {
    color: inherit;
}

.tools .save a.btn.btn-floating {
    width: inherit;
    height: 100%;
    border-radius: initial;
    /* padding: 0.6rem; */
    box-shadow: none;
    /* color: #333; */
}

.tools .save .btn-floating i {
    color: inherit;
    line-height: 1;
}

body.dark {
    color: rgb(147, 181, 143);
    background: #333;
}

body.dark section.content.container {
    background: inherit;
}

body.dark .ace-chrome {
    background-color: inherit;
    color: inherit;
}

body.dark .render-page {
    background: #4c4c4c;
    color: #CCC;
}

body.dark .collection .collection-item {
    background: inherit;
}

body.dark #markdown_app .ace_gutter {
    background: #353535;
}

body.dark .thread-log {
    background: #444;
}

body.dark ul.messages-header {
    background: #333;
}

body.dark .message-placer span.label {
    color: inherit;
}

.commands .command a:hover {
    background: rgba(138, 138, 138, 0.14);
    color: inherit;
}

.dark .editor-container .tools {
    color: #777;
}

.dark .ace_gutter-cell {
    background: #2b2b2b;
    color: #999;
}

.dark .book-page-list .active-child-list a:hover {
    background: #222;
    color: inherit;
}

.dark .indicator-container:hover {
    background: #222;
}

.dark .indicator.input {
    background: #000;
}

.dark input.new-page-input::placeholder {
    color: #555;
}


.dark div#line-view {
    border-bottom-color: #333;
}

.dark .ace-chrome .ace_print-margin {
    background: #555;
}

.dark .ace-chrome .ace_marker-layer .ace_selection {
    background: #5f4646;
}



.dark .ace-chrome .ace_cursor,
.dark .ace-solarized-dark .ace_cursor,
.dark .ace-solarized-dark .ace_string.ace_regexp {
    color: #848484;
}


.dark .gravel {
    background: inherit;
}

.dark .gravel .gravel-close {background-color: inherit;}

.dark h2, .dark .gravel h2.gravel-title {
    color: #AAA;
}