.render-page>*:first-child {
    margin-top: 0;
}



.render-page code {
    color: #a50a0a;
    background: #f3f3f3;
    padding: 0em 0.3em 0.15em 0.3em;
    border-radius: 4px;
}

.render-page ul {
    margin-left: 2em;
}

.render-page ul li {
    list-style: disc;
}

div.render-page {
    font-size: 1.1em;
    width: 100%;
    background: #FFF;
    padding: 2rem 3rem;
    /* box-shadow: 0px -1px 3px 0px #b7b7b7; */
    min-height: 28em;
    margin-bottom: 0;
    color: #333;
}

.render-page h1 {
    font-size: 3.1em;
    border-bottom: solid 1px #EEE;
    font-weight: 500;
    margin-top: 1.2em;
}

.render-page h2 {
    font-size: 2.6em;
    border-bottom: solid 1px #EEE;
    margin-top: 1em;
    font-weight: 500;
}

.render-page h4 {
    margin: 1em 0 .6em;
    font-size: 1.7em;
}

.render-page h3 {
    font-size: 2.1em;
    margin: 1.1em 0 0.5em;
}

.render-page h5 {
    margin: 1.2em 0 0.6em;
}

.render-page tbody tr {
    border-bottom: solid 1px #EFEFEF;
}

.render-page th {
    padding: 0.7em 5px;
    /* background: #f7f7f7; */
}

.render-page strong {
    color: #000;
}
