#markdown_content>*:first-child {
    margin-top: 0;
}



#markdown_content code {
    color: #a50a0a;
    background: #f3f3f3;
    padding: 0em 0.3em 0.15em 0.3em;
    border-radius: 4px;
}

#markdown_content ul {
    margin-left: 2em;
}

#markdown_content ul li {
    list-style: disc;
}

div#markdown_content {
    font-size: 1.1em;
    width: 100%;
    background: #FFF;
    padding: 0.8em 1.3em;
    box-shadow: 0px -1px 3px 0px #b7b7b7;
    min-height: 28em;
    margin-bottom: 0;
    color: #333;
}

#markdown_content h1 {
    font-size: 3.1em;
    border-bottom: solid 1px #EEE;
    font-weight: 500;
    margin-top: 1.2em;
}

#markdown_content h2 {
    font-size: 2.6em;
    border-bottom: solid 1px #EEE;
    margin-top: 1em;
    font-weight: 500;
}

#markdown_content h4 {
    margin: 1em 0 .6em;
    font-size: 1.7em;
}

#markdown_content h3 {
    font-size: 2.1em;
    margin: 1.1em 0 0.5em;
}

#markdown_content h5 {
    margin: 1.2em 0 0.6em;
}

#markdown_content tbody tr {
    border-bottom: solid 1px #EFEFEF;
}

#markdown_content th {
    padding: 0.7em 5px;
    /* background: #f7f7f7; */
}

#markdown_content strong {
    color: #000;
}